<h1 mat-dialog-title>
    <mat-icon id="icon">edit</mat-icon>
    Status
  </h1>
  <div mat-dialog-content>
    <mat-form-field>
        <mat-label>Change shetler status</mat-label>
        <mat-select [(ngModel)]="shelter.shelterStatus" [formControl]="statusControl">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let status of statuses" [value]="status">
            {{status | titlecase}}
          </mat-option>
        </mat-select>
        <mat-error>Please choose a valid status</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button 
    mat-flat-button 
    color="primary" 
    (click)="onNoClick(statusControl.value)"
    [disabled]="!statusControl.valid">
      Ok
    </button>
  </div>